
li {
  
    text-align: center;
    position: relative;
    list-style: none;
    cursor: pointer;
    
}

li img {
    background-color: #F2F3F4;
    width: 200px;
    border-radius: 15px;
}

.option-info {
    position: absolute;
    bottom: 10px;
    top: 1;
    left: 0;
    right: 0;
}

.font-bold {
    font-weight: bold;
    font-size: 17px;
}

.place {
    padding-right: 5px;
}

.year {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0 5px;
}

.lts {
    padding-left: 5px;
}